<h2>Edit Speed Test</h2>

<form action="/speeds/<%= @speed.id %>/edit" method="post">
  <input type="hidden" name="_method" value="put"/>
  <label for="">name</label>
  <input type="text" name="person" value="<%= @speed.person %>"/>
  <label for="">speed</label>
  <input type="text" name="speed" value="<%= @speed.result %>"/>
  <button class="lpad btn btn-default">update</button>
</form>
