<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <h1>!!!!PRIME TIME!!!!</h1>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <script src="/javascripts/jQuery.js"></script>
  <script src="/javascripts/ajax.js"></script>
</head>
<body>


  <%= yield %>

</body>