 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>PRIMETIME</title>

  <!-- Bootstrap core CSS -->
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/stylesheets/carousel.css" rel="stylesheet">

  <!--this overrides carousel CSS-->
  <link href="/stylesheets/main.css" rel="stylesheet">

  <!-- Bootstrap core JavaScript
================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/javascripts/jQuery.js"></script>
  <script src="/javascripts/ajax.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="/javascripts/bootstrap.min.js"></script>

</head>

<!-- NAVBAR
================================================== -->
<body>
<div class="navbar-wrapper">
  <div class="container">

    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">P R I M E T I M E</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/cover">Cover Page</a></li>
            <li><a href="/about">About</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Quick Nav <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">Computer benchmarking</li>
                <li><a href="#">Speed test (individual)</a></li>
                <li><a href="#">Speed Race (group) </a></li>
                <li><a href="/api/example">API</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Prime numbers</li>
                <li><a href="#">Calculate prime numbers</a></li>
                <li><a href="#">Prime number database</a></li>
              </ul>
            </li>
            <li class="text-right" ><a href="/login">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>

  </div>
</div>


<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Test your computer speed.</h1>
          <p>Run javascript or ruby flat out on your computer to find out how fast it is. Compare your results to the database. </p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Run a speed test</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Real time group speed race</h1>
          <p>Who's computer can calculate the first 5000 prime numbers the fastest? Race your friends and find out who has the most flops!</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Group race</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Access our HUGE 3 record API from your own pages.</h1>
          <p>Got the fastest water cooled and overclocked rig around? Prove it right here and get a P R I M E T I M E certified speed.</p>
          <p><a class="btn btn-lg btn-primary" href="/api/example" role="button">API info</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!-- /.carousel -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="dwave">
<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      <h2>Speed Test (individual)</h2>
      <p>Benchmark your computer speed using javascript and ruby. Use Google Octane to benchmark the speed of your browser implementation of javascript. Alternatively calculate large prime numbers as the benchmark test.</p>
      <p><a class="btn btn-default" href="#" role="button">Run a speed test &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      <h2>Speed Race (group)</h2>
      <p>Log in to organise a group race. Uses Google Octane or large prime number calculations. Watch the race via a chart and see the results real time.</p>
      <p><a class="btn btn-default" href="#" role="button">Group race &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      <h2>API</h2>
      <p>Access the P R I M E T I M E database via an API. Embed a benchmarking database on your own site. The API also includes prime number information.</p>
      <p><a class="btn btn-default" href="/api/example" role="button">API info &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

    <%= yield %>

  <hr class="featurette-divider">

   <!--END THE FEATURETTES-->

  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2015 Modern Mag, Pty Ltd. &middot;</p>
  </footer>

</div><!-- /.container -->
</div>

</body>
</html>