<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <h1>!!!!PRIME TIME!!!!</h1>
  <link rel='stylesheet' href='/stylesheets/main.css'>

  <script src="/javascripts/jQuery.js"></script>
  <script src="/javascripts/ajax.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


</head>
<body>


  <%= yield %>

</body>