<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Benchmarking results</h2>
    <p class="lead">Create a new benchmark result.</p>
  </div>
  <div class="col-md-5">

    <h2>New Speed Test</h2>

    <form action="/speeds" method="post">
      <label for="">name</label>
      <input type="text" name="person"/>
      <label for="">speed</label>
      <input type="text" name="speed"/>
      <button class="lpad btn btn-default">submit</button>
    </form>
  </div>
</div>
