<h2>New Speed Test</h2>

<form action="/speeds" method="post">
  <label for="">name</label>
  <input type="text" name="person"/>
  <label for="">speed</label>
  <input type="text" name="speed"/>
  <button class="lpad btn btn-default">submit</button>
</form>
